<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>

    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\\Log4Net_TextLog\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="NHibernateAllAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\\NHAllAppender\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="SystemLog" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <connectionString value="data source=127.0.0.1;initial catalog=NHibernateDB;integrated security=false;persist security info=True;User ID=sa;Password=000000" />
      <commandText value="INSERT INTO SM_SystemLog ([Category], [IP], [UrlFull], [Thread], [LogLevel], [Logger], [Title], [Exception], [Message], [CreateDate]) VALUES (@Category, @IP, @UrlFull, @Thread, @LogLevel, @Logger, @Title, @Exception, @Message, @CreateDate)" />

      <parameter>
        <parameterName value="@Category" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{Category}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@IP" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{IP}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@UrlFull" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{UrlFull}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{Thread}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@LogLevel" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{LogLevel}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{Logger}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Title" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{Title}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{Exception}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{Message}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@CreateDate" />
        <dbType value="DateTime" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{CreateDate}" />
        </layout>
      </parameter>

    </appender>

    <appender name="HttpLog" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <connectionString value="data source=127.0.0.1;initial catalog=NHibernateDB;integrated security=false;persist security info=True;User ID=sa;Password=000000" />
      <commandText value="INSERT INTO SM_HttpLog (Category, IPStr, UrlShort, UrlFull, Thread, TotalTime, HttpMethod, RequestParams, ResponseContent, CreateTime) VALUES (@Category, @IPStr, @UrlShort, @UrlFull, @Thread, @TotalTime, @HttpMethod, @RequestParams, @ResponseContent, @CreateTime)" />

      <parameter>
        <parameterName value="@Category" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{Category}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@IPStr" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{IPStr}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@UrlShort" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{UrlShort}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@UrlFull" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{UrlFull}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{Thread}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@TotalTime" />
        <dbType value="Int32" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{TotalTime}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@HttpMethod" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{HttpMethod}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@RequestParams" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{RequestParams}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@ResponseContent" />
        <dbType value="String" />
        <size value="300" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{ResponseContent}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@CreateTime" />
        <dbType value="DateTime" />
        <layout type="Basement.Framework.Logging.CommonPatternLayout, Basement.Framework">
          <conversionPattern value="%property{CreateTime}" />
        </layout>
      </parameter>

    </appender>
    

    <logger name="ErrorLogAdapter_RollingFile" additivity="false">
      <level value="debug"></level>
      <appender-ref ref="ErrorRollingFileAppender" />
    </logger>

    <logger name="SysLogAdapter" additivity="false">
      <appender-ref ref="SystemLog" />
    </logger>

    <logger name="HttpLogAdapter" additivity="false">
      <appender-ref ref="HttpLog" />
    </logger>
    
    <logger name="NHibernate" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="NHibernateAllAppender" />
    </logger>

  </log4net>

</configuration>