<?xml version="1.0" encoding="utf-8"?>
<databases>
  <connection name="Uni2uni_Common" connectionString="server=192.168.2.186;uid=sa;pwd=uni2uni.com;database=uni2uni_common;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="User" connectionString="server=192.168.2.186;uid=sa;pwd=uni2uni.com;database=Uni2uni_User;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="Order" connectionString="server=192.168.2.186;uid=sa;pwd=uni2uni.com;database=Uni2uni_Order;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="EMall" connectionString="server=192.168.2.186;uid=sa;pwd=uni2uni.com;database=Uni2uni_EMall;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
</databases>
